                //   ...................... olor group1............................
$color1 : #0FCFEC;
$color2 : #19D3AE;
$color3 : #3A4256;

        //   .................................color group2...........................

$color4 : #F6F7F9;
$color5 : #ECEEF2;
$color6 : #D4D9E3;
$color7 : #AFB7CA;
$color8 : #8391AD;
$color9 : #647393;
$color10 : #4F5B7A;
$color11 : #414B63;
$color12 : #3A4256;
$color13 : #323848;

            // ...................................color group 3...................................


$color14 : #EFFEFA;
$color15 : #C7FFF0;
$color16 : #90FFE2;
$color17 : #50F8D1;
$color18 : #19D3AE;
$color19 : #04C8A4;
$color20 : #00A187;
$color21 : #05806D;
$color22 : #0A6558;
$color23 : #0D544A;


// ......................................color group 4............................................

$color24 : #ECFEFF;
$color25 : #CEFBFF;
$color26 : #A4F4FD;
$color27 : #65EAFB;
$color28 : #0FCFEC;
$color29 : #03B8D7;
$color30 : #0692B4;
$color31 : #0C7592;
$color32 : #145F76;
$color33 : #154E64;