@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
}

.button {
  padding: 13px 15px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.8px;
  background: linear-gradient(90deg, #19D3AE -22.5%, #0FCFEC 120.83%);
  border-radius: 8px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

header {
  width: 100%;
  background: url("../images/header/landing-bg.png") no-repeat center top;
  height: 100vh;
}
header .navigation_bar {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  padding-top: 13px;
  margin-bottom: 30px;
}
header .navigation_bar .header_icon a {
  font-size: 28px;
  text-decoration: none;
  font-weight: bold;
  font-family: open sans;
  color: #000000;
  margin-top: 8px;
}
header .navigation_bar ul {
  margin-top: 10px;
  margin-left: -100px;
}
header .navigation_bar ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
}
header .navigation_bar ul li .home {
  background-color: #000000;
  color: white;
}
header .navigation_bar ul li a {
  font-size: 16px;
  text-decoration: none;
  padding: 8px 17px;
  color: #000000;
  transition: 0.5s;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 1px;
}
header .navigation_bar ul li a:hover {
  background-color: black;
  color: white;
}
header .navigation_bar ul li a:hover .home {
  background-color: transparent;
  color: black;
}
header form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header form .mainform h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}
header form .mainform label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}
header form .mainform input {
  display: block;
  margin-bottom: 8px;
  outline: none;
  padding: 8px 16px;
  width: 327px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: white;
}
header form .mainform span {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
}
header form .mainform span a {
  color: red;
  text-decoration: none;
}
header form .mainform p {
  font-size: 15px;
  margin-bottom: 16px;
}
header form .mainform p a {
  color: red;
  text-decoration: none;
}
header form .mainform button {
  width: 327px;
  padding: 9px 0;
  background-color: #3A4256;
  border: none;
  outline: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  margin-bottom: 5px;
}
header form .mainform .button2 {
  background-color: white;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.7);
}
header form .mainform .or {
  text-align: center;
  margin-bottom: 30px;
}
header form .mainform .or::before {
  content: "";
  width: 140px;
  height: 3px;
  position: absolute;
  background-color: #3A4256;
  left: 0;
  margin-top: 9px;
}
header form .mainform .or::after {
  content: "";
  width: 140px;
  height: 3px;
  position: absolute;
  background-color: #3A4256;
  right: 0;
  margin-top: 9px;
}/*# sourceMappingURL=signup.css.map */